header{
	background-image: linear-gradient(to bottom left, #B0F 50%, #FFF 50%);
}

/* Header */
.navbar .img-fluid{
	max-height: 10vw;
	width: auto;
}
.navbar .nav-link {
	width: 10vw;
	height: 1.5rem;
	background-color: #F0C;
	margin: 0 2rem;
	border-radius: unset;
	border: none;
	box-shadow: 3px 3px 2px hsl(0, 0%, 20%);
}

#top-content {
	min-height: 70vh;
}
#top-content a {
	text-shadow: 2px 2px 1px #333;
}
#nav-link {

}
.bg-btn-1 {
	background: linear-gradient(90deg, #B0F, #F0F);
	border-radius: 7px;
}

/* Cards */
#cards-content{
	background-color: orange;

	/* height: 60vh; */
}
#cards-content .card-group{
	top: 20%;
	margin-bottom: -200px;
	padding-top: 100px;
	padding-bottom: 150px;
}
#cards-content .col-12 {
	/* height: 60vh; */
}
.card-group .card{
	background: hsla(0, 0%, 0%, 0);
}
.card-group .card-body{
	position: relative;
	margin-top: 1rem;
	background-color: #B0F;
}
.card-group .btn{
	background-color: #F0C;
	position: absolute;
	top: 90%;	
}

/* Border-line */
#border-line{
	height: 6px;
	background: linear-gradient(to bottom, #B0F, #507);
	margin: 20vh 0;
}

/* Bottom Content */
#bottom-text-block {
	line-height: 2em;
}
/* @media (min-width: 992px){
	#bottom-text-block{
		line-height: 3em;
	}
} */


/* Bottom Splash */
#bottom-splash {
	background: linear-gradient(
		90deg,
		#F0F,
		#B0F
	);
	min-height: 25vh;
	padding-top: 15px;
}
#bottom-splash .img-fluid{
	max-width: 140px;
	height: auto;
}

/* Footer */
footer div{
	background-color: #000;
}
footer a {
	font-size: 2pc;
	text-decoration-line: none;
	color: #fff;
}
footer a:hover {
	text-decoration-line: none;
	color: #ddd;
}
#footer-element-1, #footer-element-2{
	margin: 0 5vw 0 5vw;
}
